/*For Tablet*/
@media (max-width: 1000px) {
    
}

/*For Smartphone*/
@media (max-width: 670px){
    header span.menu-icon {
        display: block;
        transition: 1s;
    }

    /*header span.menu-icon:hover {
        background-color: white;
        opacity: 0.8;
        color: black;
    }*/

    .header-right {
        display: none;
    }
}

