/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start Your Code From Here*/
header {
	width: 100%;
	height: 65px;
	background-color: rgba(34, 49, 52, 0.9);
	color: white;
	position: fixed;
	top: 0;
}

.header-left {
	float: left;
}

.logo {
	width: 200px;
	margin-top:-2px;
}

.header-right {
	float: right;
	line-height: 65px;
	margin-right: 20px;
}

.navbar {
	color: white;
	text-decoration: none;
	display: inline-block;
	margin-left: 15px;
	padding: 0 10px;
	transition: 1s;
}

.navbar:hover {
	background-color: white;
	opacity: 0.8;
	color: black;
}

header span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
	padding: 20px 20px;	
	display: none;
}

.top-wrapper {
	width: 100%;
	height: 500px;
	background-image: url('/img/bg.jpg');
	background-size: cover;
	background-color: red;
}










