html, body{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}


/*....Your code start here.....*/

.container {
    width: 100%;    
    color: white;
}

/*Tag Header*/
header {
    background-color: rgba(34, 49, 52, 0.9);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(25, 45, 100, 0.08) 0px 10px 30px 0px;
}


/*Class header-left*/
.header-left {
    margin-left: 20px;
}

.header-left img {
    width: 200px;
}

/*Class header-right*/
.header-right {
    margin-right: 20px;
}

.header-right a {
    color: white;
    display: inline-block;
    padding: 25.5px 20px;
    margin-right:-5px;
    box-sizing: border-box;
    width: 150px;
    transition: background-color 200ms ease-in 50ms;
    transition: color 300ms linear 20ms;
}

.header-right a:hover{
    background-color: rgba(255,255,255,0.5);
    color: rgba(34, 49, 52, 1);
    font-weight: bolder;
}

.header-right-show a:hover {
    background-color: rgba(255,255,255,0.5);
    color: black;
}


.header-right-menu {
    display: none;
    font-size: 26px;
    padding: 15.5px;
    margin-right: 20px;
}

.header-right-menu:hover {
    background-color: rgba(255,255,255,0.5);   
    color: black;
}

.header-right-show {
    display: none;
}

.nav-button {
    margin-right: 14px;
}

/*Class of top-container*/
.top-container {
    background-image: url('../img/bg.jpg');
    min-height: 460px;
    background-size: cover;
    position: absolute;
    /*top: -160px;*/
    width: 100%;
    text-align: right;
}

.top-container h1, h2 {
    opacity: 0.8;
    margin-right: 100px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.9);
}

.top-container h1 {
    margin-top: 160px;
}

.top-container h2 {
    text-transform: none;
    margin-top: -15px;
}

.line {
    position: relative;
    top: -3px;
}

/*Class of content*/
.content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 460px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content h2 {
    margin: 10px auto;
    text-shadow: none;
    color: darkslategrey;
}

.content .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    width: 300px;
    background-color:rgb(241, 243, 245);

}

.latest-article h2 {
    margin-bottom: 50px;
}

figure {
    margin: 0;
    padding: 0;
}

.box h5 span {
    display: block;
    font-size: 12px;
    margin-bottom: 7px;
    font-weight: bold;
    color: rgb(147, 161, 176);
}

.box h5 {
    text-transform: none;
    font-weight: normal;
    color: black;
}

.box img {
    width: 100%;
    height: 320px;
}

.section a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section div.nav-arrow {
    text-align: center;
    line-height: 420px;
    font-size: 40px;
    padding: 0;
    color: black;
}

@media screen and (max-width: 855px) {
    .header-left img {
        width: 170px;
    }

    .header-right a {
        font-size: 10px;
        width: 100px
    }

    .top-container h1,h2 {
        margin-right: 50px;
    }

    .top-container h1 {
        font-size: 35px;
    }

    .top-container h2 {
        font-size: 25px
    } 
}

@media screen and (max-width: 630px) {
    .header-left img {
        width: 170px;
    }

    .header {
        flex-direction: row;
    }
    .top-container {
        min-height: 400px;
    }
    .header-right {
        display: none;
        padding: 0;
    }

    .header-right-menu {
        display: block;
    }

    .header-right-show {
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: rgba(34, 49, 52, 1);
        text-align: left;
    }

    .header-right-show a {
        display: inline-block;
        padding: 13px;
        color: white;
        font-size: 13px;
    }
    
    .top-container h1,h2 {
        margin-right: 50px;
    }

    .top-container h1 {
        font-size: 35px;
    }

    .top-container h2 {
        font-size: 25px
    }   

    .header-right a {
        padding: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 620px){
    .top-container {
        min-height: 360px;
    }

    .top-container h1,h2{
        margin-right: 40px
    }

    .top-container h1 {
        font-size: 27px;
    }

    .top-container h2 {
        font-size: 20px
    }
    
    .header-right a {
        padding: 10px;
        font-size: 15px;
    }
}
