/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start Your Code From Here*/
header {
	width: 100%;
	height: 65px;
	background-color: rgba(34, 49, 52, 0.9);
	color: white;
	position: fixed;
	top: 0;
}

.header-left {
	float: left;
}

.logo {
	width: 200px;
	margin-top:-2px;
}

.header-right {
	float: right;
	line-height: 65px;
	margin-right: 30px;
}

.navbar {
	float: left;
	color: white;
	text-decoration: none;
	transition: 1s;
	width: 100px;
	text-align: center;
}

.header-right a:hover {
	background-color: white;
	opacity: 0.5;
	color: black;
}


header span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
	padding: 20px 20px;	
	display: none;
}

.top-wrapper {
	width: 100%;
	height: 550px;
	background-image: url('/img/bg.jpg');
	background-size: cover;
}

.container {
	padding-top: 230px;
	padding-left: 50px;
	color: white;
}

.container h1 {
	font-size: 60px;
	font-weight: bold;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.9);
}

.container p {
	font-size: 30px;
	width: 650px;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.9);
}

.content {
	background-color: rgb(236, 236, 236);
	padding-top: 40px;
	padding-left: 50px;
	padding-bottom: 40px;
}

article {
	width: 70%;
	background-color: white;
	padding: 20px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	border-radius: 20px;
}

article h1 {
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 30px;
}

article p {
	font-size: 18px;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.content article .penulis p {
	font-size: 15px;
	line-height: 10px;
}

.content article .penulis p .nama-penulis {
	text-decoration: none;
	color: black;
	opacity: 0.8;
}

.content article .penulis p .cal {
	color: black;
	opacity: 0.8;
}

.penulis {
	margin-bottom: 25px;
}

footer {
	width: 100%;
	height: 50px;
}

.icon-wrapper {
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 50px;
}

.icon-wrapper p {
	font-size: 15px;
}

.icon {
	font-size: 30px;
	opacity: 0.8;
}

.facebook {
	color: #4267B2;
}

.instagram {
	color: #C13584;

}

.twitter {
	color: #1DA1F2;
}

.copyright {
	float: right;
	margin-top: 35px;
	margin-bottom: 15px;
	margin-right: 50px;
}






