html, body, ul {

    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline-block;
}

header {
    background-color: brown;
}

header h1 {
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
}

.container {    
    background-image: url('./img/forest.jpg');
    background-size: cover;
    background-repeat: repeat;
    height: 110vh;
}

table {
    margin: 0 auto;
    border-radius: 30px;
}

td {
    padding: 25px;
}

.computer-pokemon {
    margin: 0 auto;
}

.player-pokemon img, .computer-pokemon img {
    width: 80px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: whitesmoke;
    box-shadow: 0 5px #999;
    
}
.versus {
    width: 80px;
}
.player-pokemon img:hover { 
    cursor: pointer;
}

.player-pokemon img:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

table p {
    text-align: center;
}

.button {
    width: 60px;
    display: block;
    margin: 0 auto;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}

.name {
    font-size: 18px;
    text-align: center;
    color: wheat;
}

.player-score, .computer-score {
    font-size: 20px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: whitesmoke;
}

.info {
    border: 1px solid rgb(240, 209, 209);
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    color: rgb(43, 43, 43);
}

.rules td {
    padding: 0px;
}

.rules tr {
    margin: 0;
}

.rules img {
    width: 30px;
}

.rules p {
    display: inline-block;
    text-align: left;
    padding: 1px;
    line-height: 19px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.919);
}

h3 {
    margin: 10px;
}

td.rules {
    padding: 10px;
}
